* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

li {
    list-style: none;
}

.main-container {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: stretch;
}

.project-sidebar {
    border: 2px solid blue;
}

.main-panel {
    border: 2px solid green;
}